    <style>
      body {
        background-color: lightblue; 
        color: black;
        text-align: center;
       }
       h1 {
         color: red;
       }
       img{
         border-radius: 10px;
         margin-top: 8px;
         margin-left: 2px;
         margin-right: 2px;
       }
     </style>
